:root {
  --black: #07060b;
  --button-cta: linear-gradient(180deg, #46f4db 27.08%, #57d272 100%);
  --grey-light: #ededf2;
  --red: #d13130;
  --white: #ffffff;
  --grey-dark: #717178;
  --grey-middle: #95959d;
  --primery: #46f4db;
  --primery-active: #57d272;
  --grey-deep: #37373e;
  --red-secondadry: #ff6f6f;
  --gap: 32px;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"), url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
    url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Russo One";
  src: local("Russo-One-Regular"),
    url("../fonts/RussoOneRegular.woff2") format("woff2"),
    url("../fonts/RussoOne-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

body {
  font-family: "Muller", sans-serif;
  font-size: 20px;
  color: var(--black);
}

.container {
  margin: 0 auto;
  padding: 0 12px;
  max-width: 1304px;
}

/* header */

.header {
  padding: 14px 0;
  background-color: var(--white);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: calc(var(--gap) * 2);
}

.header__nav {
  margin-right: auto;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: var(--gap);
}

.nav__link {
  position: relative;
  font-weight: 700;
  line-height: 20px;
  transition: color 0.3s ease-in-out;
}

.nav__link::after {
  content: "";
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -10px;
  right: -10px;
  border: 2px solid var(--primery-active);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav__link:focus::after {
  opacity: 1;
}

.nav__link:hover {
  color: var(--primery);
}

.nav__link:active {
  color: var(--primery-active);
}

.nav__link:active::after {
  opacity: 0;
}

.header__btn {
  border-radius: 100px;
  padding: 17px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: var(--white);
  background-color: var(--black);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.header__btn:focus {
  background-color: var(--primery);
  color: var(--black);
}

.header__btn:hover {
  background-color: var(--primery);
  color: var(--black);
}

.header__btn:active {
  background-color: var(--primery-active);
  color: var(--black);
}

/* hero */

.hero {
  height: 680px;
  background-color: var(--black);
  background-image: url(../img/stickers_hero.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 29px) top;
}

.hero__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__title {
  margin: 0;
  margin-bottom: 36px;
  font-family: "Russo One", sans-serif;
  color: var(--white);
  font-weight: 400;
  font-size: 70px;
  line-height: 84px;
}

.hero__text {
  width: 50%;
}

.hero__buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.hero__btn {
  display: inline-block;
  border-radius: 100px;
  padding: 25px 54px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: var(--black);
}

.hero__btn--fill {
  margin-right: var(--gap);
  background: var(--button-cta);
}

.hero__btn--stroke {
  padding: 20px 49px;
  border: 5px solid #0000;
  background: linear-gradient(var(--black), var(--black)) padding-box,
    linear-gradient(180deg, #46f4db 27.08%, #57d272 100%) border-box;
  color: var(--white);
}
